#character{width: 960px;margin: 0 auto;padding-top: 20px;}
#character .box{display: flex;flex-wrap: wrap;justify-content: space-between;margin: 0 20px 40px;}
#character .box img{width: 260px;height: 260px;display: block;background-size: cover;background-position: 50% 50%;}
#character .box .text{width: 640px;display: flex;align-items: flex-start;flex-wrap: wrap;text-align: center;}
#character .box .text h3{font-size: 18px;color: #1f232f;padding-top: 20px;font-weight: 200;}
#character .box .text p{font-size: 24px; color: #1f232f;text-align: center;width: 640px;}